* {
    margin: 0;
    padding: 0;
}

#container {
    height: 100vh;
    margin: 0 auto;
    max-width: 970px;
    background: var(--main-background-color);
}

#container .logo-menu {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    background: var(--main-background-color);
}

#container .logo {
    height: 60px;
    width: 30%;
}

#container nav {
    height: 60px;
    width: 70%;
}

#container .logo-menu nav ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#container .logo-menu nav ul li {
    list-style-type: none;
    height: 100%;
    width: 25%;
    text-align: center;
    font-family: var(--main-font-family);
    font-size: 18px;
    line-height: 60px;
    background: var(--second-background-color);
}

#container .logo-menu nav ul li:hover {
    color: #d5dd8e;
    background: var(--third-background-color);
    cursor: pointer;
}

#div-carrossel {
    height: 30vh;
    width: 100%;
    background: var(--second-background-color);
}