:root {
    --main-background-color: #eee;
    --second-background-color: #ddd;
    --third-background-color: #fff;
    --main-text-color: #222;
    --second-text-color: #555;
    --div-color-1: #77a7ff;
    --div-color-2: #cdff60;
    --div-color-3: #92e0ac;
    --button-color: #d5dd8e;
    --main-font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --second-font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}