#container .logo-menu {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    background: var(--main-background-color);
}

#container .logo-menu div:nth-child(1) {
    margin-left: 0;
}

#container .logo {
    height: 60px;
}

#container nav {
    height: 60px;
    background: var(--second-background-color);
    margin-right: 0px;
}

#container .logo-menu nav ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#container .logo-menu nav ul li {
    list-style-type: none;
    height: 100%;
    flex: 1;
    text-align: center;
    font-family: var(--main-font-family);
    font-size: 18px;
    line-height: 60px;
}

#container .logo-menu nav ul li:hover {
    cursor: pointer;
    background: var(--main-background-color);
}