#produtos {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: row;
}

#produtos .produtos-texto-apresentacao {
    height: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#produtos .produtos-texto-apresentacao h2 {
    line-height: 40px;
}

#produtos .produtos-navegacao-categorias {
    height: 100%;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#produtos .produtos-navegacao-categorias div {
    margin: 10px;
    background: var(--image-background-color);
}

#produtos .produtos-navegacao-categorias div:nth-child(1) {
    height: 70%;
    flex: 1;
}

#produtos .produtos-navegacao-categorias div:nth-child(2) {
    height: 70%;
    flex: 1;
}

#produtos .produtos-navegacao-categorias div:nth-child(3) {
    height: 70%;
    flex: 1;
}