#produtos {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
}

#produtos .produtos-texto-apresentacao {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#produtos .produtos-texto-apresentacao h2 {
    line-height: 40px;
}

#produtos .produtos-navegacao-categorias {
    height: 100%;
}