#servicos {
    height: 40vh;
    padding: 40px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

#servicos div:nth-child(1) {
    height: 20%;
    margin-left: 0;
    background: var(--image-background-color);
}

#servicos div:nth-child(2) {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: var(--second-background-color);
}

#servicos div:nth-child(3) {
    height: 20%;
    background: var(--image-background-color);
}

#servicos div:nth-child(4) {
    height: 100%;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#servicos h2 {
    width: 100%;
    font-family: var(--main-font-family);
    font-size: var(--second-font-size);
}

#servicos p {
    margin: 0;
    padding: 0 20px;
    font-family: var(--second-font-family);
    font-size: var(--main-font-size);
}